.navb {
  padding: 12px;
  background: navy !important;
  color: whitesmoke;
}

/* *{border: 1px solid red;} */

.link {
  text-decoration: none;
  font-size: 1.2rem;
  margin-right: 20px;
  color: inherit;
}

a.active {
  position: relative;

  /* border-bottom: 2px solid white; */
}

a.active::before{
  content: "";
  height: 2px;
  background: white;
  width: 60px;
  position: absolute;
  top: 35px;
  /* left: -2px; */
}